[Unit]
Description=Mount unit for amazon-ssm-agent, revision 2996
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/amazon-ssm-agent_2996.snap
Where=/snap/amazon-ssm-agent/2996
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
